html{
  background-color: #99ccff
}

body {
  font-family: "helvetica", sans-serif;
  font-size: 16px;
  text-align: left;
}

footer {
  font-family: "helvetica", sans-serif;
  font-size: 16px;
  text-align: left;
}


table, th, td {
  border: 1px solid black;
  text-align: left;
  font-size: 16px;
  font-family: "helvetica", sans-serif;
  border-collapse: collapse;
  overflow: hidden;
  padding: 0.5rem;
  table-layout: fixed;
}

tbody tr{
  background-color: #e6e6e6
}

thead tr{
  background-color: #a6a6a6
}

h1{
  font-size: 20px;
}


thead th:nth-child(4n-3) {
  width: 10%;
}
tbody td:nth-child(4n-3) {
  width: 10%;
}

thead th:nth-child(4n-2) {
  width: 60%;
}
tbody td:nth-child(4n-2) {
  width: 60%;
}

thead th:nth-child(4n-1) {
  width: 15%;
}
tbody td:nth-child(4n-1) {
  width: 15%;
}

thead th:nth-child(4n) {
  width: 15%;
}
tbody td:nth-child(4n) {
  width: 15%;
}

table {
  width: 100%;
  align-items: center;
}

tbody tr:hover {
  background-color: #ffff99;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.LI-profile-badge {
  background-color: #99ccff;
}

.LI-simple-link {
  background-color: #99ccff;
}
